.card{
    width: 250px;
    height: 400px;
}
.card img{
    height: 220px;
}
button{
    width: 40px;
    height: 30px;
}
.limpiarTodo{
    width: auto;
}
.carritoImages{
    width: 80px;
    height: 60px;
}
.inputNumber{
    width: 40px;
    text-align: center;
}
